@import "@fortawesome/fontawesome-svg-core/styles.css";
@import "./carousel.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply px-4 mx-auto max-w-[1200px];
    }
    .container-fluid {
        @apply px-4 mx-auto max-w-screen-2xl;
    }
    .btn {
        @apply inline-block px-4 py-2 text-white rounded cursor-pointer disabled:cursor-not-allowed;
    }

    .form-group {
        @apply mb-3;

        label {
            @apply mb-0.5 inline-block font-semibold;
        }
    }
    .form-control {
        @apply border-solid border rounded px-4 py-2 w-full;

        &[disabled] {
            @apply bg-gray-100 text-gray-500;
        }
    }
    .table {
        @apply table-auto;

        th {
            @apply border-b font-medium p-4 pl-8 pt-0 pb-3 text-slate-700 text-left;
        }
        td {
            @apply border-b border-slate-100 p-4 pl-8 text-slate-600;
        }
    }

    .btn-primary {
        @apply text-white bg-primary hover:bg-primary-dark disabled:bg-gray-500;
    }
}

.center-v {
    top: 50%;
    transform: translateY(-50%);
}
.center-h {
    left: 50%;
    transform: translateX(-50%);
}
.center-v.center-h {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body.modal-open {
    overflow: hidden;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;

    &--animate,
    &--animate .modal__content,
    &--animate .modal__bg {
        transition: all ease-out 0.25s;
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);
        opacity: 0;
    }

    &__content {
        border-radius: 4px;
        line-height: 1;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        background: white;
        position: relative;
        max-width: calc(100vw - 30px);
        margin: 15px auto;
        padding: 20px;
        opacity: 0;
        transform: translateY(-250px);
    }

    &__close {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;
    }

    &--open {
        z-index: var(--z-index);
    }

    &--open {
        .modal {
            &__bg {
                opacity: 1;
            }

            &__content {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &--sm {
        .modal {
            &__content {
                width: 400px;
            }
        }
    }

    &--md {
        .modal {
            &__content {
                width: 750px;
            }
        }
    }

    &--lg {
        .modal {
            &__content {
                width: 1200px;
            }
        }
    }
}
